<div class="sidebar-container">
    <!-- each of these is essentially filter, sort based on attributes on existing set of tasks -->
    <!-- on clicking should populate tasks based in board view -->
	<div class="sidebar-link">
		Pending Tasks for week (count)
	</div>
	<div class="sidebar-link">
		Pending Tasks for month (count)
	</div>
	<div class="sidebar-link">
		Undecided deadline Tasks
	</div>
	<div class="sidebar-link">
        Highest Prio tasks
	</div>
	<div class="sidebar-link">
        Failed tasks
	</div>
	<!-- display statistics of all tasks , can choose timeframe for stats once navigated -->
    <div class="sidebar-link">
        Statistics
	</div>

</div>
