app-querybar{
	height:60px;
	display:block;
	padding-left: 20px;
	padding-top: 5px;;
}
.boardview-container{
	height:100%;
}

app-planner-container{
	height:100%;
	padding-top:5px;
	padding-bottom:10px;
	background-color: rgb(244, 239, 239);
	display: block;
}