<input type="text">
<!-- add filter such that on clicking multiple options, matchips are added and all these are used for query ex: pending + failed + started last week etc -->

<select>

<!-- filter based on task attributes such as starting dates, priority, state(pending,closed , to be picked up etc). Attributes to be filtered on should come as an API call -->
</select>

<!-- choose dropdown for type of view such as calendar view, list view or column/jira view -->

<select id="taskboard-type" (change) = viewChange() [formControl]="viewDropdown">
<option value="calendar">Calendar view
</option>
<option value="list">List view
</option>
<option value="column" selected>Column view
</option>
</select>