.columnview-container{
    background-color: white;
    min-height: 300px;
    min-width:80%;
    border-color: rgb(97, 96, 96);
    border-width: 3px;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;

    /* is inheriting from entire taskboard view for some reason 
    need to resolve */
}

.column-container{
    flex:1;
    min-width: 200px;
    background-color: rgb(227, 225, 225);
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
}

column-task{
    margin:2px;
    background-color: whitesmoke;
    padding-left:1px;
    padding-right:1px;
}

.task-categories{
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(57, 56, 56);
    margin-bottom: 3px;
    margin-top: 1px;
}