<h3>Board by status</h3>
<!-- jira view trying to show  tasks by status  -->
<div class="columnview-container">

	<div class="backlog-container column-container">
		<div class="task-categories"> Backlog</div>
	</div>


	<div class="not-started-container column-container">
		<div class="task-categories"> Not Picked up</div>
		<column-task *ngFor="let task of this.taskByStatus['not started']" [task]="task"></column-task>
	</div>

	<div class="ongoing-container column-container">
		<div class="task-categories"> Ongoing</div>
		<column-task *ngFor="let task of this.taskByStatus['ongoing']" [task]="task"></column-task>
	</div>

	<div class="successful-container column-container">
		<div class="task-categories"> Succesfully Completed</div>
		<column-task *ngFor="let task of this.taskByStatus['successful']" [task]="task"></column-task>
	</div>

	<div class="failed-container column-container">
		<div class="task-categories"> Failed tasks</div>
		<column-task *ngFor="let task of this.taskByStatus['failed']" [task]="task"></column-task>
	</div>



</div>